<!-- your html code here -->
<p>Hello, I'm contact.html</p>
<div class="d-flex justify-content-center bg-light">
    <div class="container">
        <div class=" mb-3">
            <label for="exampleFormControlInput1" class="form-label">Your E-mail</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here..."></textarea>
        </div>
        <div class="mb-3 d-flex justify-content-end">
            <button class="btn btn-primary float-right" type="button">Submit</button>
        </div>
    </div>