<div class="row justify-content-center">
    <div style="height: 100%" class="col-12 col-sm-12 col-md-7 col-lg-7 pl-5 pr-5 pt-2 pb-3 ">
        <div class="pl-5 pr-5 my-4">
            <h3 class="heading pl-5 pr-5">
                The First Heading
                <small class="text-muted">Will Catch Your Eye</small>
            </h3>
        </div>
        <div class="pl-5 pr-5">
            <p class="text-lg-left text-md-left text-sm-jutify text-left">
                Breaking bad es la mejor serie del mundo!! sit amet consectetur, adipisicing elit. Aliquid nulla assumenda maxime,
                aspernatur,
                eaque rerum neque sint libero laborum, explicabo molestias. Ab vitae aperiam, voluptatum laborum
                soluta
                ipsa quae voluptatem? b vitae aperiam, voluptatum laborum
                soluta
                ipsa quae voluptatem?
            </p>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center pl-lg-5 pr-lg-5 pl-md-3 pr-md-3 pl-sm-0 pr-sm-0 mt-3">
        <div style="height: 300px">
            <img src="/website/assets/img/1.jpg" alt="Say my name" class="rounded-circle img-fluid" style="max-width: 100%; max-height: 100%;">
        </div>
    </div>
    <div class="col-11 border-bottom mt-5"></div>
</div>