<div class="d-flex justify-content-right">
    <div class="text-bg-light p-3">
        Light with contrasting color
        <h3>
            The Second Heading
            <p class="text-secondary">It Pretty Cool Too.</p>
        </h3>
        <div>
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
            ligula porta felis euismod semper. Praesent commodo cursus magna, vel
            scelerisque nis! consectetur. Fusce dapibus, tellus ac cursus commodo.
        </div>
    </div>
</div>

<!-- <div class="d-flex justify-content-left"> -->
<img src="/website/assets/img/2.jpg" class="img-thumbnail" alt="..." />
<!-- </div> -->